/* regular dimensions are 250px x 292px */
.polaroid-outer {
  box-shadow: 1.5px 1.5px 4px;
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  margin-left: 60px; /* TAKE THIS OUT LATER @KEVIN */
  margin-bottom: 30px;
  /* position: relative;
  bottom: 150px;
  left: 150px; */
}

.polaroid-inner {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 200px;
  height: 190px;
  margin-top: 12px;
}

.tape {
  /* width: 100px;
	height: 10px; */
  transform: rotate(-43deg);
}

.phone-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 350px;
  height: 500px;
}

.phone-inner {
  border-radius: 25px;
  width: 330px;
  height: 480px;
  padding: 15px;
}

.hbutton {
  border-radius: 25px;
  width: 25px;
  height: 4px;
  cursor: pointer;
  margin-right: 30px;
}

.vbutton {
  border-radius: 25px;
  width: 4px;
  height: 25px;
}

.app-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.app-icon {
  border-radius: 5px;
  width: 75px;
  height: 75px;
  margin-left: 18.75px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 2px;
}

.flex-box {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
