.app {
  font-family: -apple-system, BlinkMacSystemFont, Lato, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 150%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear;
}

/* .app-nav {

} */

/* .app-footer {

} */

.home-body {
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center; /* for now */
}

.catalyst-logo-text {
  position: relative;
  text-align: center;
  width: 100%;
}

.glitch {
  color: white;
  position: absolute;
  top: 10%;
  left: 22%;
  font-size: 800%;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse,
    glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  0% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  20% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  40% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  60% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  80% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  100% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
}

@keyframes noise-2 {
  0% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  20% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  40% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  60% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  80% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
  100% {
    --top: random(50);
    --bottom: random(51-var(top));
    clip-path: inset(var(top) px 0 var(bottom) px 0);
  }
}
