.app {
  font-family: -apple-system, BlinkMacSystemFont, Lato, Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 150%;
}

/* .app-nav {

} */

/* .app-footer {

} */

.home-body {
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center; /* for now */
}

.catalyst-logo-text {
  position: relative;
  text-align: center;
  width: 100%;
}

.catalyst-text {
  /* font-family: -apple-system, BlinkMacSystemFont, Lato, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 450%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(11px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(63px, 9999px, 14px, 0);
  }
  15% {
    clip: rect(60px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(79px, 9999px, 68px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 52px, 0);
  }
  30% {
    clip: rect(3px, 9999px, 37px, 0);
  }
  35% {
    clip: rect(14px, 9999px, 29px, 0);
  }
  40% {
    clip: rect(87px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(13px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(96px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(50px, 9999px, 4px, 0);
  }
  60% {
    clip: rect(32px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(33px, 9999px, 52px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 83px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(81px, 9999px, 38px, 0);
  }
  90% {
    clip: rect(48px, 9999px, 39px, 0);
  }
  95% {
    clip: rect(19px, 9999px, 94px, 0);
  }
  100% {
    clip: rect(48px, 9999px, 30px, 0);
  }
}

.glitch-wrapper {
  display: inline-block;
  position: relative;
}

.glitch,
.glitch-letter {
  display: inline-block;
  /* content: attr(data-text);
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: glitch-anim; */
}

.glitch:before,
.glitch-letter:hover:before {
  content: attr(data-text);
  position: absolute;
  text-shadow: 1px 0 #f1f1f1;
  left: -1px;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: glitch-anim 2s infinite linear alternate-reverse;
}
