/* regular dimensions are 250px x 292px */
.polaroid-outer {
  box-shadow: 1.5px 1.5px 4px;
  max-width: 214px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  margin-left: 5px; /* TAKE THIS OUT LATER @KEVIN */
}

.polaroid-inner {
  position: relative;
  max-width: 190px;
  min-height: 190px;
  height: 100%;
  width: 100%;
  margin-top: 12px;
}

.phone-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 300px;
  height: 500px;
}

.phone-inner {
  border-radius: 25px;
  width: 275px;
}

.phone-speaker {
  border-radius: 25px;
  width: 50px;
  height: 10px;
}

.phone-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.flex-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
