/* regular dimensions are 250px x 292px */
.polaroid-outer {
  box-shadow: 1.5px 1.5px 4px;
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  margin-left: 60px; /* TAKE THIS OUT LATER @KEVIN */
  margin-bottom: 30px;
}

.polaroid-inner {
  position: relative;
  margin: 10px;
  width: 200px;
  height: 190px;
  margin-top: 12px;
}
