.app {
  font-family: Roboto, sans-serif;
}

/* .app-footer {

} */

.body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 10%;
}

.catalyst-logo-text {
  position: relative;
  text-align: center;
  width: 100%;
}

.arrow-down {
  width: 100%;
  position: absolute;
  bottom: 10%;
}

.arrow-down::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: 3s arrow infinite ease;
  -webkit-animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%,
  100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%,
  100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
